{% extends "app/base.html" %}

{% block content %}

<div>
    {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }} text-center"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form id="filter_form" class="m-3 d-inline-flex" action="/" method="GET">
        {{ form }}
        <button class="btn btn-outline-secondary clear" type="button">Clear</button>
        <input class="btn btn-primary" type="submit" value="Filter">
    </form>    
</div>

<table class="table table-striped text-center">
    <thead class="thead-light">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author(s)</th>
            <th scope="col">Published date</th>
            <th scope="col">ISBN</th>
            <th scope="col">Page count</th>
            <th scope="col">Link</th>
            <th scope="col">Language</th>
            <th scope="col">Actions</th>
        </tr>        
    </thead>
    <tbody>
    {% for obj in book_list %}
        <tr>
            <td>{{ obj.title }}</td>
            <td>{{ obj.author }}</td>
            <td>{{ obj.published_date }}</td>
            <td>{{ obj.isbn }}</td>
            <td>{{ obj.page_count }}</td>
            <td>{{ obj.link | urlize }}</td>
            <td>{{ obj.lang }}</td>
            <td>
                <div class="btn-group btn_actions" role="group" aria-label="Basic example">
                    <form class="form_delete" action="{% url 'delete_book' obj.pk %}" method="POST">{% csrf_token %}
                        <input class="btn btn-danger btn_delete" type="submit" value="Delete"/>
                    </form>
                    <a href="{% url 'edit_book' obj.pk %}" type="button" class="btn btn-primary btn_edit">Edit</a>
                </div>
            </td>
        </tr>
    {% empty %}
        <p class="text-center text-danger">No books found.</p>
    {% endfor %}        
    </tbody>
</table>
{% if is_paginated %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ querystring }}">Previous</a>
            </li>
        {% endif %}
        {% for page_nr in page_obj.paginator.page_range %}
            {% if page_nr == page_obj.number %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ page_nr }}&{{ querystring }}">{{ page_nr }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_nr }}&{{ querystring }}">{{ page_nr }}</a>
            </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ querystring }}">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock content %}