{% extends "base.html" %}

{% block content %}

<div>
    <form action="/" method="GET">
        {{ form.as_p }}
        <button type="button" value="Clear"></button>
        <input type="submit" value="Filter">
    </form>    
</div>

<table>
    <tr>
        <th>Title</th>
        <th>Author(s)</th>
        <th>Published date</th>
        <th>ISBN</th>
        <th>Page count</th>
        <th>Link</th>
        <th>Language</th>
    </tr>
    {% for obj in book_list %}
        <tr>
            <td>obj.title</td>
            <td>obj.author</td>
            <td>obj.published_date</td>
            <td>obj.isbn</td>
            <td>obj.page_count</td>
            <td>obj.link</td>
            <td>obj.lang</td>
        </tr>
    {% empty %}
        <p>No books found.</p>
    {% endfor %}
</table>

{% endblock content %}